@use '../abstract/abstract_global';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  background-color: inherit;
  color: inherit;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: abstract_global.$clr-dark;
}

.main {
  display: flex;
  flex-direction: column;
}

// -----TYPOGRAPHY-----

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.action-small,
.action-large,
.slider-text {
  font-weight: 600;
  text-transform: uppercase;
}

.heading-1 {
  font-size: abstract_global.rem(32px);
  line-height: 150%;
  letter-spacing: 0.18em;
}
.heading-2,
.action-large {
  font-size: abstract_global.rem(24px);
  line-height: 152%;
  letter-spacing: 0.16em;
}
.heading-3 {
  font-size: abstract_global.rem(16px);
  line-height: 152%;
  letter-spacing: 0.08em;
}
.heading-4,
.action-small {
  font-size: abstract_global.rem(12px);
  line-height: 130%;
  letter-spacing: 0.05em;
}

.paragraph {
  font-size: abstract_global.rem(16px);
  font-weight: 400;
  line-height: 148%;
}

.caption {
  font-family: 'Allura', cursive;
  font-size: abstract_global.rem(24px);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}

.slider-text {
  font-size: 80px;
  letter-spacing: 0.3px;
}

// -----OTHER-----

.inner-block {
  max-width: abstract_global.rem(428.6px);
}

.text-purple {
  color: abstract_global.$clr-tag-purple;
}
.text-pink {
  color: abstract_global.$clr-tag-pink;
}
.text-green {
  color: abstract_global.$clr-tag-green;
}

@media (max-width: abstract_global.$tablet-breakpoint) {
  .scroll-disabled {
    overflow: hidden;
  }
}

.modal-scroll-disabled {
  overflow: hidden;
}
