@use '../abstract/abstract_global';

@keyframes drop-btn_up-in {
  0% {
    right: abstract_global.rem(-56px);
    bottom: calc(100dvh / 10);
    display: none;
  }

  100% {
    right: abstract_global.rem(8px);
    bottom: abstract_global.rem(8px);
    display: flex;
  }
}

@keyframes drop-btn_up-out {
  0% {
    right: abstract_global.rem(8px);
    bottom: abstract_global.rem(8px);
    display: flex;
  }

  100% {
    right: abstract_global.rem(-56px);
    bottom: calc(100dvh / 10);
    display: none;
  }
}

@keyframes scale-btn_up-in {
  0% {
    scale: 0;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes scale-btn_up-out {
  0% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0;
    opacity: 0;
  }
}

@keyframes scale-arrow {
  0% {
    scale: 1.1;
  }

  100% {
    scale: 1.5;
  }
}
