@use '../abstract/abstract_global' as *;

%base-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border-radius: $border-rad-s;

  transition: $transition;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      cursor: pointer;
    }
  }
}

.btn {
  @extend %base-btn;

  padding: rem(12px) rem(20px);

  &_large {
    @extend %base-btn;

    padding: rem(20px) rem(32px);
    color: $clr-static-white;
    background-color: $clr-dark;
    border-radius: $border-rad-l;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $clr-dark;
        background-color: $clr-static-white;
      }
    }
  }

  &_icon {
    @extend %base-btn;

    aspect-ratio: 1;
    width: rem(56px);
    border: 1px solid $clr-static-white;
    border-radius: $border-rad-l;
  }

  &_burger {
    @extend %base-btn;

    border-radius: 0;

    &__burger {
      position: relative;
      width: rem(40px);
      height: rem(40px);

      &::before,
      &::after {
        content: '';

        position: absolute;

        width: rem(20px);
        height: rem(1px);

        background-color: $clr-dark;

        transition:
          transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28),
          background-color 0.3s ease-in;
      }

      &::before {
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
      }

      &::after {
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &_active {
      & > .btn_burger__burger::before {
        top: 20px;
        left: 50%;
        transform: translateX(-50%) rotate(135deg);
      }

      & > .btn_burger__burger::after {
        bottom: 19px;
        left: 50%;
        transform: translateX(-50%) rotate(-135deg);
      }
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover .btn_burger__burger::before,
      &:hover .btn_burger__burger::after {
        background-color: $clr-primary;
      }
    }
  }

  &_up {
    @extend %base-btn;

    position: fixed;
    right: rem(8px);
    bottom: rem(8px);

    display: none;

    aspect-ratio: 1;
    width: rem(56px);

    color: $clr-primary;

    background-color: $clr-static-white;
    border: 1px solid $clr-primary;
    border-radius: 100%;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        svg {
          animation: scale-arrow 0.5s linear alternate infinite;
        }
      }
    }

    @media (max-width: $tablet-breakpoint) {
      &_shown {
        display: flex;
        animation:
          drop-btn_up-in 0.5s // #region linear(...
          linear(
              0 0%,
              0 2.27%,
              0.02 4.53%,
              0.04 6.8%,
              0.06 9.07%,
              0.1 11.33%,
              0.14 13.6%,
              0.25 18.15%,
              0.39 22.7%,
              0.56 27.25%,
              0.77 31.8%,
              1 36.35%,
              0.89 40.9%,
              0.85 43.18%,
              0.81 45.45%,
              0.79 47.72%,
              0.77 50%,
              0.75 52.27%,
              0.75 54.55%,
              0.75 56.82%,
              0.77 59.1%,
              0.79 61.38%,
              0.81 63.65%,
              0.85 65.93%,
              0.89 68.2%,
              1 72.7%,
              0.97 74.98%,
              0.95 77.25%,
              0.94 79.53%,
              0.94 81.8%,
              0.94 84.08%,
              0.95 86.35%,
              0.97 88.63%,
              1 90.9%,
              0.99 93.18%,
              0.98 95.45%,
              0.99 97.73%,
              1 100%
            ),
          // #endregion
          scale-btn_up-in 0.5s // #region linear(...
          linear(
              0 0%,
              0 2.27%,
              0.02 4.53%,
              0.04 6.8%,
              0.06 9.07%,
              0.1 11.33%,
              0.14 13.6%,
              0.25 18.15%,
              0.39 22.7%,
              0.56 27.25%,
              0.77 31.8%,
              1 36.35%,
              0.89 40.9%,
              0.85 43.18%,
              0.81 45.45%,
              0.79 47.72%,
              0.77 50%,
              0.75 52.27%,
              0.75 54.55%,
              0.75 56.82%,
              0.77 59.1%,
              0.79 61.38%,
              0.81 63.65%,
              0.85 65.93%,
              0.89 68.2%,
              1 72.7%,
              0.97 74.98%,
              0.95 77.25%,
              0.94 79.53%,
              0.94 81.8%,
              0.94 84.08%,
              0.95 86.35%,
              0.97 88.63%,
              1 90.9%,
              0.99 93.18%,
              0.98 95.45%,
              0.99 97.73%,
              1 100%
            );

        // #endregion;
      }

      &_disabled {
        animation:
          drop-btn_up-out 0.5s // #region linear(...
          linear(
              0 0%,
              0 2.27%,
              0.02 4.53%,
              0.04 6.8%,
              0.06 9.07%,
              0.1 11.33%,
              0.14 13.6%,
              0.25 18.15%,
              0.39 22.7%,
              0.56 27.25%,
              0.77 31.8%,
              1 36.35%,
              0.89 40.9%,
              0.85 43.18%,
              0.81 45.45%,
              0.79 47.72%,
              0.77 50%,
              0.75 52.27%,
              0.75 54.55%,
              0.75 56.82%,
              0.77 59.1%,
              0.79 61.38%,
              0.81 63.65%,
              0.85 65.93%,
              0.89 68.2%,
              1 72.7%,
              0.97 74.98%,
              0.95 77.25%,
              0.94 79.53%,
              0.94 81.8%,
              0.94 84.08%,
              0.95 86.35%,
              0.97 88.63%,
              1 90.9%,
              0.99 93.18%,
              0.98 95.45%,
              0.99 97.73%,
              1 100%
            ),
          // #endregion;
          scale-btn_up-out 0.5s // #region linear(...
          linear(
              0 0%,
              0 2.27%,
              0.02 4.53%,
              0.04 6.8%,
              0.06 9.07%,
              0.1 11.33%,
              0.14 13.6%,
              0.25 18.15%,
              0.39 22.7%,
              0.56 27.25%,
              0.77 31.8%,
              1 36.35%,
              0.89 40.9%,
              0.85 43.18%,
              0.81 45.45%,
              0.79 47.72%,
              0.77 50%,
              0.75 52.27%,
              0.75 54.55%,
              0.75 56.82%,
              0.77 59.1%,
              0.79 61.38%,
              0.81 63.65%,
              0.85 65.93%,
              0.89 68.2%,
              1 72.7%,
              0.97 74.98%,
              0.95 77.25%,
              0.94 79.53%,
              0.94 81.8%,
              0.94 84.08%,
              0.95 86.35%,
              0.97 88.63%,
              1 90.9%,
              0.99 93.18%,
              0.98 95.45%,
              0.99 97.73%,
              1 100%
            );

        // #endregion;
      }
    }
  }
}


@keyframes drop-btn_up-in {
  0% {
    right: rem(-56px);
    bottom: calc(100dvh / 10);
    display: none;
  }

  100% {
    right: rem(8px);
    bottom: rem(8px);
    display: flex;
  }
}

@keyframes drop-btn_up-out {
  0% {
    right: rem(8px);
    bottom: rem(8px);
    display: flex;
  }

  100% {
    right: rem(-56px);
    bottom: calc(100dvh / 10);
    display: none;
  }
}

@keyframes scale-btn_up-in {
  0% {
    scale: 0;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes scale-btn_up-out {
  0% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0;
    opacity: 0;
  }
}

@keyframes scale-arrow {
  0% {
    scale: 1.1;
  }

  100% {
    scale: 1.5;
  }
}
