@use '../../scss/abstract/abstract_global' as *;

.slider {
  &__wrapper {
    overflow: hidden;
    background-color: $clr-primary;
  }

  &__container {
    flex-direction: column;
    gap: rem(20px);
    color: $clr-static-white;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: rem(12px);
    align-items: center;
  }
}

.slider-row {
  display: flex;
  flex-direction: column;
  gap: rem(20px);

  &__content {
    position: relative;
    // right: 0;
    transform: translateX(0);
    display: flex;
    gap: rem(20px);
  }

  &__text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    display: inline-block;
    aspect-ratio: 1;
    width: rem(200px);
    border-radius: $border-rad-l;
  }

  &__buttons-block {
    display: flex;
    gap: rem(20px);
    justify-content: flex-end;
  }

  &__btn {
    /* stylelint-disable-next-line selector-class-pattern */
    &.slider-row__btn_edge {
      cursor: default;
      color: $clr-static-white-40;
      border-color: $clr-static-white-40;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover:not(.slider-row__btn_edge) {
        color: $clr-primary;
        background-color: $clr-static-white;
      }
    }
  }
}
