@use '../../scss/abstract/abstract_global' as *;

.gifts {
  &__wrapper {
    background-color: $clr-primary;
    background-image: url('../../assets/img/bg-garland.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    border-radius: $border-rad-l;
  }

  &__container {
    flex-direction: column;
    gap: rem(20px);
    align-items: center;
    text-align: center;
  }

  &__header {
    color: $clr-static-white;
  }

  &__tabs {
    display: flex;
    gap: rem(8px);
    color: $clr-static-white;

    @media (max-width: $mobile-breakpoint) {
      & {
        gap: 0;
      }
    }
  }

  &__tab {
    &__input {
      display: none;
    }

    &_active {
      background-color: $clr-static-white-20;

      &:hover {
        cursor: default;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover:not(.gifts__tab_active) {
        background-color: $clr-static-white-20;
      }
    }

    @media (max-width: $mobile-breakpoint) {
      & {
        padding-right: rem(8px);
        padding-left: rem(8px);
      }
    }
  }
}
