@use '../abstract/abstract_global';

.about {
  &__wrapper {
    background-color: abstract_global.$clr-primary;
  }

  &__container {
    border-radius: abstract_global.$border-rad-l;
    background-color: abstract_global.$clr-static-white;

    @media (max-width: abstract_global.$mobile-breakpoint) {
      flex-direction: column;
    }
  }

  &__content {
    width: 50%;
    display: flex;
    align-items: center;

    padding: 0 abstract_global.rem(60px);

    @media (max-width: abstract_global.$mobile-breakpoint) {
      width: 100%;
      padding-left: abstract_global.rem(20px);
      padding-right: abstract_global.rem(20px);
    }

    .caption {
      color: abstract_global.$clr-primary;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: abstract_global.rem(20px);
    padding: abstract_global.rem(60px) 0;
  }

  &__image-container {
    display: flex;
    width: 50%;
    border-radius: abstract_global.$border-rad-l;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @media (max-width: abstract_global.$mobile-breakpoint) {
      width: 100%;
    }
  }
}
