@use '../abstract/abstract_global';

.best-gifts {
  &__wrapper {
    background-color: abstract_global.$clr-primary;
  }

  &__container {
    flex-direction: column;
    gap: abstract_global.rem(20px);
    align-items: center;
    text-align: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: abstract_global.rem(12px);
    color: abstract_global.$clr-static-white;
  }
}
