@use '../abstract/abstract_global';

.cta {
  &__wrapper {
    border-bottom-left-radius: abstract_global.$border-rad-l;
    border-bottom-right-radius: abstract_global.$border-rad-l;

    background-image: url(./assets/img/bg-forest.png),
      url(./assets/img/bg-snow.png);
    background-color: abstract_global.$clr-primary;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__container {
    padding: abstract_global.rem(60px) 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: abstract_global.rem(20px);
    padding: abstract_global.rem(60px) 0;
    color: abstract_global.$clr-static-white;
  }

  &__timer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: abstract_global.rem(8px);
  }
}

.timer {
  display: flex;
  align-items: center;
  padding: abstract_global.rem(8px) abstract_global.rem(12px)
    abstract_global.rem(12px) abstract_global.rem(12px);
  border-radius: abstract_global.$border-rad-l;
  background-color: abstract_global.$clr-static-white-40;

  &__section {
    position: relative;
    width: abstract_global.rem(80px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      width: abstract_global.rem(1px);
      height: abstract_global.rem(20px);
      background-color: abstract_global.$clr-static-white-40;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}
