@use '../abstract/abstract_global';

.gifts {
  &__wrapper {
    background-image: url(./assets/img/bg-garland.png);
    background-color: abstract_global.$clr-primary;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: abstract_global.$border-rad-l;
  }

  &__container {
    flex-direction: column;
    gap: abstract_global.rem(20px);
    align-items: center;
    text-align: center;
  }

  &__header {
    color: abstract_global.$clr-static-white;
  }

  &__tabs {
    color: abstract_global.$clr-static-white;
    display: flex;
    gap: abstract_global.rem(8px);
  }

  &__tab {
    &.gifts__tab_active {
      cursor: default;
      background-color: abstract_global.$clr-static-white-20;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover:not(.gifts__tab_active) {
        background-color: abstract_global.$clr-static-white-20;
      }
    }
  }
}
