@use '../abstract/abstract_global';

.header {
  &__wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__container {
    justify-content: space-between;
    gap: abstract_global.rem(12px);
    padding: abstract_global.rem(12px) 0;
  }

  &__nav {
    display: flex;
  }

  &__logo {
    padding: abstract_global.rem(8px) abstract_global.rem(20px);
    display: flex;
    align-items: center;
    gap: abstract_global.rem(8px);
  }
}

.nav {
  &__link-list {
    display: flex;
    gap: abstract_global.rem(8px);
  }

  &__link {
    &.nav__link_active {
      cursor: default;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover:not(.nav__link_active) {
        color: abstract_global.$clr-primary;
        background-color: abstract_global.$clr-primary-10;
      }
    }
  }
}
