@use '../abstract/abstract_global';

.hero {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/img/bg-ball.png);
    background-color: abstract_global.$clr-primary;
    border-top-left-radius: abstract_global.$border-rad-l;
    border-top-right-radius: abstract_global.$border-rad-l;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: abstract_global.rem(12px);
    padding: abstract_global.rem(60px) 0;
    color: abstract_global.$clr-static-white;
  }
}
