@use '../abstract/abstract_global';

.sidebar {
  display: none;
  position: absolute;
  top: abstract_global.rem(63px);
  right: 0;
  height: calc(100dvh - abstract_global.rem(64px) + 1px);
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    width 0.2s ease-in,
    opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: abstract_global.$clr-static-white;
  z-index: 2;

  @media (max-width: abstract_global.$tablet-breakpoint) {
    display: flex;
  }

  &__link {
    color: abstract_global.$clr-static-white;

    &_active {
      color: abstract_global.$clr-static-white;
      background-color: abstract_global.$clr-static-white;
    }
  }

  &_active {
    opacity: 1;
    width: 100%;
    transition:
      width 0.2s ease-in,
      opacity 0.4s cubic-bezier(0.4, 0, 1, 1);

    .sidebar__link {
      color: inherit;

      &_active {
        color: abstract_global.$clr-primary;
        background-color: abstract_global.$clr-primary-10;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover:not(.sidebar__link_active) {
          color: abstract_global.$clr-primary;
          background-color: abstract_global.$clr-primary-10;
        }

        &_active:hover {
          cursor: default;
        }
      }
    }
  }

  &__link-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: abstract_global.rem(8px);
    justify-content: center;
    align-items: center;
  }
}
