@use '../abstract/abstract_global';

.sidebar {
  display: none;
  position: absolute;
  top: abstract_global.rem(63px);
  right: 0;
  height: calc(100dvh - abstract_global.rem(64px) + 1px);
  width: 0;
  overflow: hidden;
  transition: width 0.2s ease-out;
  background-color: abstract_global.$clr-static-white;
  color: abstract_global.$clr-static-white;

  @media (max-width: abstract_global.$tablet-breakpoint) {
    display: flex;
  }

  &_active {
    width: 100%;
    color: inherit;

    .sidebar__link {
      @media (hover: hover) and (pointer: fine) {
        &_active,
        &:hover:not(.sidebar__link_active) {
          color: abstract_global.$clr-primary;
          background-color: abstract_global.$clr-primary-10;
        }

        &_active:hover {
          cursor: default;
        }
      }
    }
  }

  &__link-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: abstract_global.rem(8px);
    justify-content: center;
    align-items: center;
  }
}
