@use '../abstract/abstract_global';

.sidebar {
  display: none;
  opacity: 0;
  position: absolute;
  top: abstract_global.rem(63px);
  right: 0;
  height: calc(100dvh - abstract_global.rem(64px) + 1px);
  width: 0;
  overflow: hidden;
  transition:
    opacity 0.5s,
    width 0.2s ease-out;
  background-color: abstract_global.$clr-static-white;
  color: abstract_global.$clr-static-white;

  & * {
    transition: color 0.2s;
  }

  @media (max-width: abstract_global.$tablet-breakpoint) {
    display: flex;
  }

  &_active {
    width: 100%;
    opacity: 1;
    color: abstract_global.$clr-dark;
  }

  &__link-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: abstract_global.rem(8px);
    justify-content: center;
    align-items: center;
  }

  &__link {
    @media (hover: hover) and (pointer: fine) {
      &:hover:not(.sidebar__link_active) {
        color: abstract_global.$clr-primary;
        background-color: abstract_global.$clr-primary-10;
      }

      &_active:hover {
        cursor: default;
      }
    }
  }
}
