// -----COLOR-----
$clr-primary: #ff4646;
$clr-primary-10: rgba(255, 70, 70, 0.1);
$clr-dark: #181c29;
$clr-static-white: #ffffff;
$clr-static-white-40: rgba(255, 255, 255, 0.4);
$clr-static-white-20: rgba(255, 255, 255, 0.2);
$clr-tag-purple: #4361ff;
$clr-tag-pink: #ff43f7;
$clr-tag-green: #06a44f;
$clr-content-background: #ecf3f8;

// -----WIDTHS AND BREAKPOINTS-----
$desktop-max-width: 1440px;
$desktop-max-container-width: 1276px;

$tablet-breakpoint: 800px;
$mobile-breakpoint: 600px;

// -----OTHER-----
$border-rad-l: 20px;
$border-rad-s: 12px;

$transition: all 0.3s ease-in;
